<li>
    <span [routerLink]="['/contact/',contact().id]">{{contact().firstName}}</span>
    <span [routerLink]="['/contact/',contact().id]">{{contact().lastName}}</span>
    <span [routerLink]="['/contact/',contact().id]">{{contact().number}}</span>
    <span [routerLink]="['/contact/',contact().id]">{{contact().email}}</span>
    @if (contact().isFavorite === true) {
        <span>⭐️</span>
    }
    @else {
        <span></span>
    }
    <span>
        <button class="boton" (click)="openDeleteModal()">Borrar</button>
        <a class="boton" [routerLink]="['/edit-contact/',contact().id]">Editar</a>
    </span>
</li>