.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;

}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

input {
    width: 120%;
}

app-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}