<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <h2>Iniciar sesión</h2>
        <div class="label-input">
            <label for="email">Correo electrónico</label>
            <input id="email" name="email" type="email" ngModel #email="ngModel" required="true" autocomplete="email">
            @if (email.invalid && !email.pristine) {
                <p class="error">Debe colocar un mail.</p>
            }
        </div>
        <div class="label-input">
            <label for="password">Contraseña</label>
            <input id="password" name="password" type="password" ngModel #password="ngModel" minlength="4" autocomplete="current-password">
            @if (password.invalid && !password.pristine) {
                <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
            }
        </div>
        <button>Entrar</button>
        @if(isLoading){
            <app-spinner></app-spinner>
        }
        @if (errorLogin) {
            <p class="error">Error indeterminado, intente nuevamente.</p>
        } 
        <p>¿No tenés cuenta?</p>
        <a routerLink="/register">Registrate</a>
    </form>
</div>