<div class="formulario">
  @if (idGrupo()) {
    <h2>Editar grupo</h2>
  } @else {
    <h2>Nuevo grupo</h2>
  }
  <form (ngSubmit)="handleFormSubmission(newGroupForm)" #newGroupForm="ngForm">
    <div class="campo">
      <label for="group-name">Nombre del grupo</label>
      <input id="group-name" name="name" type="text" ngModel required="true" minlength="2" maxlength="20">
    </div> 
    @if (idGrupo()) {
      <button [disabled]="newGroupForm.invalid">Editar</button>
    } @else {
      <button [disabled]="newGroupForm.invalid">+</button>
    }
    </form>
</div>