li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #ddd;
    align-items: center;
    transition: 500ms;
}

li:hover{
    background-color: #F5F5F5;
}

button , a {
    background-color: #2575fc;
    color: white;
    border: 1px solid #2575fc;
    text-decoration: none;
    font-size: medium;
    padding: 1px 6px;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 1rem;
    transition: 500ms;
}

button:hover , a:hover {
    background-color: white;
    color: #2575fc;
    cursor: pointer;
}